<!DOCTYPE html>


<style>

    
    li a {
        float:right;

       width: 132px;
      color: white;
    }

    .forwidget {
    width:300px;
    height:auto;
    }

    </style>


<a class="weatherwidget-io" href="https://forecast7.com/en/35d47n97d52/oklahoma-city/?unit=us" data-label_1="OKLAHOMA CITY" data-label_2="WEATHER" data-theme="sky" width="200">OKLAHOMA CITY WEATHER</a>




<body>

    <script  width="200">
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
</body>


</html>